<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/phpunit/config.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="models">
      <directory>./tests/phpunit/Domain</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>./tests/phpunit/Infra</directory>
    </testsuite>
  </testsuites>
</phpunit>
